//- meta
meta(charset='UTF-8')
meta(name="viewport" content="width=device-width,initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

//320 символов
meta(name="description" content=headDescription)
//120 символов
meta(name="keywords" content=headKeywords)

//Colors in mobile browsers - start
//Chrome, Firefox OS and Opera
meta(name="theme-color" content="#000")
//Windows Phone
meta(name="msapplication-navbutton-color" content="#000")
//iOS Safari
meta(name="apple-mobile-web-app-status-bar-style" content="#000")
//Colors in mobile browsers - end

//Icons - start - generate image here http://realfavicongenerator.net/
//link(rel="apple-touch-icon" sizes="180x180" href="/img/icons/favicons/apple-touch-icon.png")
//link(rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicons/favicon-32x32.png")
//- link(rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicons/favicon-16x16.png")
//- link(rel="manifest" href="/img/icons/favicons/site.webmanifest")
//- link(rel="mask-icon" href="/img/icons/favicons/safari-pinned-tab.svg" color="#5bbad5")
//- link(rel="shortcut icon" href="/img/icons/favicons/favicon.ico")
//- meta(name="msapplication-TileColor" content="#da532c")
//- meta(name="msapplication-config" content="/img/icons/favicons/browserconfig.xml")
//- meta(name="theme-color" content="#ffffff")

//// open graph - если использовать - Добавить “http://ogp.me/ns#” к тегу html. Если нет Schema только потом Google+ обращается к тегам Open Graph
//meta(property="og:type" content="website") //описывает тип объекта на странице (веб-сайт, блог, книга, фильм и т.д.).
//meta(property="og:title" content="---") //заголовок страницы. Для него есть ограничение в 65 символов. Напишите что-то длиннее – текст будет обрезан.
//meta(property="og:description" content="---") //краткое описание страницы длиной не более 300 символов.
//meta(property="og:image" content="---") //URL изображения, характеризующего страницу.
//meta(property="og:url" content="---") //адрес сайта.
//meta(name="twitter:image" content="---")
//meta(name="twitter:title" content="---")
//meta(name="twitter:url" content="---")
//meta(name="twitter:card" content="summary")
//meta(name="twitter:description" content="---")
//meta(itemprop="name" content="The name of your website")
//meta(itemprop="description" content="The description of your website")
//meta(itemprop="image" content="https://websiteaddress.com/yourimage.png")

//First screen styles
//style

////- link(rel='stylesheet', href='external/---')
//- link(rel='stylesheet', href='css/libs.min.css')
//- link(rel='stylesheet', href='css/main.min.css')
//- link(rel='stylesheet', href='css/bootstrap.min.css')

script.

script
    ///include ../blocks/scriptinhead.js






